/* Icon button */
.search-icon-btn {
  border: 2px solid green;
  border-radius: 50%;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  color: #333;
  transition: 0.2s;
  font-weight: bold;
  padding: 10px;
}

.search-icon-btn:hover {
    border: 2px solid skyblue;
    color: skyblue;
    transform: scale(1.2);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: 200ms ease-in-out;
}

/* Full-screen overlay */
.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 20px;
}

/* Overlay form */
.search-bar-overlay {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.search-bar-overlay input {
  flex: 1;
  padding: 10px 15px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 50px;
  outline: none;
}

.search-bar-overlay button[type="submit"] {
  border: none;
  background: transparent;
  font-size: 24px;
  margin-left: -40px;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  right: -50px;
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
  color: #333;
}